.parent-div{
    display: flex;
    align-items: center;
    background-color: white;
    width: 98vw;
    height: 100 vh;
    justify-content: center;

}
.email-box{
    display: flex;
    /* background-color:aliceblue; */
    background-image: linear-gradient(to right,
hsl(236,72%,69%), 
hsl(237,40%,40%));

     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;;
    flex-direction: column;
    height: 32rem;
    width: 30rem;
    border-radius: 0.2in;
    margin: 2rem;
    margin-top: 1rem;
  text-align: center;

}
.button{
    width: 20%;
    height: 2rem;
    border-radius: 0.2in;
    margin: 0.3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.input{
    width: 50%;
    text-align: center;
    height: 1.5rem;
    margin: 0.6rem;
    background-color: beige;
    border-radius: 0.2in;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.login{
    display: inline;
    margin: 00.3rem;
    margin-top: 1rem;
    
}

.img img{
   
    width: 17rem;
    height: 12rem;
}
.flex{
    display: flex;
    justify-content: center;
}
.img{
    margin-top: 2rem;
}
.user-data{
    margin-top: 1rem;
}
.mrg{
    margin-left: 3rem;
}
.marg{
    margin-right: 8rem;
}